.friendsWrapper {
    height: min-content;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.096);
    margin-bottom: 15px;
    padding: 15px 15px 20px 15px;
    border-radius: 10px;

    .title {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(190, 190, 190, 0.514);
    }
    
    .userWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .user {
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            transition-property: all;
            transition: all ease 200ms;

            &:hover{
                transform:  translateY(4px);
                cursor: pointer;
            }

            &:hover .userAva {
                box-shadow: 6px 4px 6px 0 rgba(0, 0, 0, 0.27);
            }

            .userAva {
                width: 50px;
                margin-bottom: 5px;
                border-radius: 10px;
                transition-property: all;
                transition: all ease 200ms;
                transition-delay: 50ms;
            }
            
            .userName {
                font-size: 13px;
            }
        }   
    }
}

