@import './../../scss/variables';

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.096);
  border-radius: 10px;
  margin-bottom: 15px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
    color: #a09e9e;
    text-decoration: none;

    &:hover {
      color: $main-color;
      background-color: rgba(185, 185, 185, 0.089);
      transition: background-color 150ms linear;
    }
  }

  .activeLink {
    background-color: $main-color;
    color: #fff;
    text-decoration: none;
    transition: background-color 300ms linear;
  }
}