.post {
    height: min-content;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.096);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;

    .postInfo {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .userAva {
            margin-right: 15px;

            img {
                height: 47px;
                border-radius: 50px;
            }
        }

        .info {
            .userName {
                font-weight: 500;
                margin-bottom: 4px;
            }

            .time {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
         
    .postImg {
        padding: 0 30px;
        max-width: 575px;
        max-height: 325px;
    }
    
    .postText {
        color: #a09e9e;
        padding: 0 30px;
        margin-bottom: 25px;
        line-height: 1.6;
        font-size: 13px; 
    }

    .postLinks {
        //width: max-content;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;

        .itemLeft {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 150px;
            
            .itemLink {
                display: flex;

                img {
                    cursor: pointer;
                    margin-right: 10px;
                    width: 16px;
                    &:active {
                        transition: ease 150ms;
                        transform: scale(1.3);
                    }
                    
                }
    
                .itemNum {
                    margin-right: 15px;
                }
            }  
        }

        .itemRight {
            .itemLink {
                display: flex;

                img {
                    cursor: pointer;
                    margin-right: 10px;
                    width: 16px;
                }
            }   
        }
    }
}

